tls:
  certificates:
    - certFile: /certs/fullchain.pem
      keyFile: /certs/privkey.pem
    - certFile: /certs/vault/fullchain.pem
      keyFile: /certs/vault/privkey.pem
    - certFile: /certs/ntfy/fullchain.pem
      keyFile: /certs/ntfy/privkey.pem
    - certFile: /certs/phpbb-integralsport/fullchain.pem
      keyFile: /certs/phpbb-integralsport/privkey.pem
    - certFile: /certs/reader-daneel/fullchain.pem
      keyFile: /certs/reader-daneel/privkey.pem
    - certFile: /certs/bots-plcoder/fullchain.pem
      keyFile: /certs/bots-plcoder/privkey.pem
