[defaults]
retry_files_enabled = False
ask_vault_pass = True
inventory           = inventory/hosts.yml
roles_path          = roles
stdout_callback     = yaml

[privilege_escalation]
become = True

[ssh_connection]
ssh_args   = -F ssh-config
pipelining = True
