[defaults]
retry_files_enabled = False
vault_password_file = .vault_passw.sh
inventory           = ~/Sync/Epiconcept/inventory/
roles_path          = roles
stdout_callback     = yaml

[privilege_escalation]
become = True

[ssh_connection]
pipelining = True
